@mixin op-btn {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    background: #F9F9F9;
    height: 18px;
    line-height: 18px;
    border-radius: 3px;
    border: 1px solid #eee;
    text-align: center;
    font-size: 12px;
    color: #00AF4A;
    font-weight: bold;
    &:hover {
        opacity: 1;
        background: #fff;
    }
}

.current {
    margin-bottom: 0.75rem;
}
/* 编辑区 */
.m-editor {
    .hide {
        display: none;
    }
    .unuse {
        color: #DCDADA;
    }
    .filter-host {
        .filter-name {
            vertical-align: middle;
        }
    }
    .group {
        margin-bottom: 10px;
        position: relative;
        .group-name {
            padding-left: 10px;
            font-size: 14px;
            color: #7F7A6A;
        }
        .line {
            padding: 5px 10px 6px;
            border-radius: 5px;
            position: relative;
            margin-bottom: 3px;
            border: 1px solid #ddd;
            .ip, .host, .comment {
                display: inline-block;
                height: 20px;
                line-height: 20px;
                vertical-align: middle;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .ip {
                color: #679CA2;
                width: 150px;
            }
            .host {
                max-width: 200px;
                color: #666;
            }
            .comment {
                width: 100px;
                color: #A09D9D;
                padding-left: 10px;
                font-style: italic;
            }
            .edit-line {
                width: 300px;
                position: absolute;
                padding: 0px 5px;
                top: 2px;
            }
            .operate {
                position: absolute;
                top: 2px;
                right: 2px;
            }

            &:hover {
                background: #E0E8E8;
            }
        }
        .in-search {
            background: #FFF7A5;
            border: 1px solid #D8DE84;
            &:hover {
                background: #FFF7A5;
            }
        }
        .unuse {
            .ip, .host, .comment{
                text-decoration: line-through;
                color: #C7C5C5;
            }
            .operate {
                color: #DCDADA;
            }
        }
        .group-ops {
            position: absolute;
            right: 0;
            top: 0;
            .op {
                margin-right: 5px;
            }
            .close-op {
                color: #7C9C89;
            }
            .unuse {
                color: #DCDADA;
            }
        }

    }
    .empty-group {
        margin-bottom: 0;
        .group-name {
            font-size: 12px;
            color: #A09D9D;
        }
    }
}
